# Import bazelrc presets
import %workspace%/.global.bazelrc

# Use the prebuilt protoc instead of compiling it from source.
common --incompatible_enable_proto_toolchain_resolution
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc

build:lint --aspects=//tools/lint:linters.bzl%clippy
build:lint --output_groups=+lint_reports

try-import %workspace%/user.bazelrc
